<% include partials/header %>

<h1 style ="padding-left: 35px">404 Error - Page not found</h1>

<ul>
    <li>Check the URL to ensure it is correct</li>
    <li>Other than that, idk</li>
</ul>



<% include partials/footer %>