<!--LANDING PAGE-->


<% include partials/header %>

        <div class="center" id="home">
            <a href="/q" class="btn btn qualluViolet" style="width: 125px; margin: 5px;">Browse Quests</a>
            <a href="/post" class="btn btn qualluViolet" style="width: 125px; margin: 5px;">Create Quest</a>
        </div>

<% include partials/footer %>